@{
    ViewBag.Title = "Yunus_Emre_Kultur_ve_Sanat_Merkezi";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
        <!-- =========================
            Header
        =========================== -->
        <!-- /.Header -->
        <!-- =========================
                Google Map
        =========================  -->
        <section class="google-map py-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3016.6601424356377!2d29.221877999999997!3d40.879332!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac34f997ef80d%3A0x3b597ed7643b4ff5!2sPendik%20Belediyesi%20Yunus%20Emre%20K%C3%BClt%C3%BCr%20ve%20Sanat%20Merkezi!5e0!3m2!1str!2str!4v1722495928098!5m2!1str!2str" 
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section><!-- /.GoogleMap -->
        <!-- ==========================
            contact layout 1
        =========================== -->
        <section class="contact-layout1 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-panel p-0 box-shadow-none">
                            <div class="contact__panel-info mb-30">
                                <div class="contact-info-box">
                                    <h4 class="contact__info-box-title">Adres</h4>
                                    <ul class="contact__info-list list-unstyled">
                                        <li>Batı, Ankara Cd. No:21, 34890 Pendik/İstanbul</li>
                                    </ul><!-- /.contact__info-list -->
                                </div><!-- /.contact-info-box -->
                                <div class="contact-info-box">
                                    <h4 class="contact__info-box-title">İletişim</h4>
                                    <ul class="contact__info-list list-unstyled">
                                        <li>Email: <a href="mailto:info@pentas.org">info@pentas.org</a></li>
                                        <li>Telefon: <a href="tel:+90 (216) 494 43 14">+90 (216) 494 43 14</a></li>
                                    </ul><!-- /.contact__info-list -->
                                </div><!-- /.contact-info-box -->

                            </div><!-- /.contact__panel-info -->
                            <form method="post" action="~/web/assets/php/contact.php" id="contactForm" class="contact__panel-form mb-30">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contact__panel-title">Açıklama</h4>
                                        <p class="contact__panel-desc mb-40">
                                            Pentaş A.Ş. 1993 tarihinde, Pendik Belediyesi iştiraki olarak, gıda, spor, otopark, kültürel faaliyetler gibi birçok alanda hizmet sunmak üzere kurulmuş ticari amaçlı bir anonim şirkettir. Vizyon Vizyonumuz; değerlerimiz ile bilgi, tecrübe ve süreçlerimizin ışığında; halkımızın ve yerel yönetimin ihtiyaç ve memnuniyetini ön planda tutarak; faaliyet gösterdiğimiz alanlarda lider bir kurum haline gelmektir. Misyon Misyonumuz; topluma fayda, etkinlik ve verimlilik anlayışı ile halkımızın ve yerel yönetimin ihtiyaçlarına cevap verebilecek organizasyon ve hizmetler sunmaktır.
                                            <!--====================
                                                    GALARY
                                            =====================-->
                                            <section id="gallery" class="gallery">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/1.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/1.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/2.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/2.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/3.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/3.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/4.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/4.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/5.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/5.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/6.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/6.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/7.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/7.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/8.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/8.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/9.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/9.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->
                                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                                            <div class="gallery-item">
                                                                <a class="popup-gallery-item" href="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/10.jpeg">
                                                                    <img src="~/web/assets/images/organizasyon/nikah_kokteyl/yunus_emre_kültür_ve_sanat_merkezi/10.jpeg" alt="gallery img">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.col-lg-4 -->

                                                    </div><!-- /.row -->
                                                </div><!-- /.container-fluid -->
                                            </section>
                                    </div>

                                </div><!-- /.row -->
                            </form>
                        </div><!-- /.contact__panel -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact layout 1 -->
        <!-- ========================
          Footer
        ========================== -->
        <!-- /.Footer -->


    </div><!-- /.wrapper -->

    <script src="~/web/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/web/assets/js/plugins.js"></script>
    <script src="~/web/assets/js/main.js"></script>
</body>

</html>

