
@{
    ViewBag.Title = "Pegmer_Girisimciler";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
        <!-- ======================
           FAQ
        ========================= -->
        <section id="faqs" class="faq pt-130 pb-100">
            <div class="container">
                <div class="row" id="accordion">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="accordion-item">
                            <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse1">
                                <a class="accordion-item__title">Derya Ceylan</a>
                            </div><!-- /.accordion-item-header -->
                            <div id="collapse1" class="collapse" data-parent="#accordion">
                                <div class="accordion-item__body">
                                    <ul class="contact__info-list list-unstyled">
                                        <li><b>Firma Adı: </b><a>DC DİNAMİK ÇÖZÜM İÇ.ve DIŞ.TİC.DAN.LTD.ŞTİ</a></li>
                                        <br>
                                        <li><b>Faliyet Alanı: </b><a>HİZMET</a></li>
                                        <br>
                                        <li><b>Faaliyet Detayı: </b><a>Pazarlama danışmanlığı,Dış Ticaret danışmanlık ve aracılık işi</a></li>
                                        <br>
                                        <li><b>İletişim Bilgileri:</b></li>                                        
                                        <li>Web: <a href="https://dctradeline.com/">www.dctradeline.com</a></li>
                                        <li>Email: <a href="mailto:derya@dctradeline.com">derya@dctradeline.com</a></li>
                                        <li>Telefon: <a href="tel:+90 532 303 82 01">+90 532 303 82 01</a></li>
                                    </ul>
                                </div><!-- /.accordion-item-body -->
                            </div>
                        </div><!-- /.accordion-item -->
                        <div class="accordion-item">
                            <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse2">
                                <a class="accordion-item__title">KVKK Aydınlatma Beyanı</a>
                            </div><!-- /.accordion-item-header -->
                            <div id="collapse2" class="collapse" data-parent="#accordion">
                                <div class="accordion-item__body">
                                    <iframe src="~/web/assets/pdf/kvvk_aydinlatma.pdf" width="100%" height="500px"></iframe>
                                </div><!-- /.accordion-item-body -->
                            </div>
                        </div><!-- /.accordion-item -->
                        <div class="accordion-item">
                            <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse3">
                                <a class="accordion-item__title">KVKK Başvuru Formu</a>
                            </div><!-- /.accordion-item-header -->
                            <div id="collapse3" class="collapse" data-parent="#accordion">
                                <div class="accordion-item__body">
                                    <iframe src="~/web/assets/pdf/kvvk_basvuru.pdf" width="100%" height="500px"></iframe>
                                </div><!-- /.accordion-item-body -->
                            </div>
                        </div><!-- /.accordion-item -->
                        <!-- /.accordion-item -->
                        <!-- /.accordion-item -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="accordion-item">
                            <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse6">
                                <a class="accordion-item__title">KVKK Politikası</a>
                            </div><!-- /.accordion-item-header -->
                            <div id="collapse6" class="collapse" data-parent="#accordion">
                                <div class="accordion-item__body">
                                    <iframe src="~/web/assets/pdf/kvvk_politika.pdf" width="100%" height="500px"></iframe>
                                </div><!-- /.accordion-item-body -->
                            </div>
                        </div><!-- /.accordion-item -->
                        <div class="accordion-item">
                            <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse7">
                                <a class="accordion-item__title">KVKK Güvenlik Kameralarına İlişkin Aydınlatma Beyanı</a>
                            </div><!-- /.accordion-item-header -->
                            <div id="collapse7" class="collapse" data-parent="#accordion">
                                <div class="accordion-item__body">
                                    <iframe src="~/web/assets/pdf/kvvk_guvenlik.pdf" width="100%" height="500px"></iframe>
                                </div><!-- /.accordion-item-body -->
                            </div>
                        </div><!-- /.accordion-item -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.FAQ -->
    </div><!-- /.wrapper -->

    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>

