
@{
    ViewBag.Title = "Pegmer_Girisimciler";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
        <!-- ======================
           FAQ
        ========================= -->
        <section id="faqs" class="faq pt-130 pb-100">
            <div class="container">
                <div class="row" id="accordion">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <!--acordion item-->
                        <div class="accordion-item">
                            <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse1">
                                <a class="accordion-item__title">Derya Ceylan</a>   <!--    BASLIK    -->
                            </div><!-- /.accordion-item-header -->
                            <div id="collapse1" class="collapse">
                                <div class="accordion-item__body">
                                    <ul class="contact__info-list list-unstyled">
                                        <li><b>Firma Adı: </b><a>DC DİNAMİK ÇÖZÜM İÇ.ve DIŞ.TİC.DAN.LTD.ŞTİ</a></li>
                                        <br>
                                        <li><b>Faliyet Alanı: </b><a>HİZMET</a></li>
                                        <br>
                                        <li><b>Faaliyet Detayı: </b><a>Pazarlama danışmanlığı,Dış Ticaret danışmanlık ve aracılık işi</a></li>
                                        <br>
                                        <li><b>İletişim Bilgileri:</b></li>
                                        <li>Web: <a href="https://dctradeline.com/">www.dctradeline.com</a></li>
                                        <li>Email: <a href="mailto:derya@dctradeline.com">derya@dctradeline.com</a></li>
                                        <li>Telefon: <a href="tel:+90 532 303 82 01">+90 532 303 82 01</a></li>
                                    </ul>
                                </div><!-- /.accordion-item-body -->
                            </div>
                        </div>
                        <!--acordion item-->
                        <div class="accordion-item">
                            <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse2">
                                <a class="accordion-item__title">Ayşe Ağaç Dağ</a>   <!--    BASLIK    -->
                            </div><!-- /.accordion-item-header -->
                            <div id="collapse2" class="collapse">
                                <div class="accordion-item__body">
                                    <ul class="contact__info-list list-unstyled">
                                        <li><b>Firma Adı: </b><a>PREFSAN PREFABRİK İNŞ.SAN.DIŞ.TİC.LTD.ŞTİ</a></li>
                                        <br>
                                        <li><b>Faliyet Alanı: </b><a>ÜRETİM-HİZMET</a></li>
                                        <br>
                                        <li><b>Faaliyet Detayı: </b><a>Prefabrik Şantiye binaları,ofisler,yemekhaneler,yatakhaneler, sosyal tesisler kenteynerlar,afet yapıları,çelik depolar,çelik evler pazarlama satış ve imalatı işi</a></li>
                                        <br>
                                        <li><b>İletişim Bilgileri:</b></li>
                                        <li>Web: <a href="https://www.prefsan.net/">www.prefsan.net</a></li>
                                        <li>Email: <a href="mailto:info@prefsan.net">info@prefsan.net</a></li>
                                        <li>Telefon: <a href="tel:+90 532 638 35 69">0 532 638 35 69</a></li>
                                    </ul>
                                </div><!-- /.accordion-item-body -->
                            </div>
                        </div>
                        <!--acordion item-->
                        <div class="accordion-item">
                            <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse3">
                                <a class="accordion-item__title">NURÇİN ULAŞ & ESRA SAPORTA</a>   <!--    BASLIK    -->
                            </div><!-- /.accordion-item-header -->
                            <div id="collapse3" class="collapse">
                                <div class="accordion-item__body">
                                    <ul class="contact__info-list list-unstyled">
                                        <li><b>Firma Adı: </b><a>NOON KAHVE GIDA PAZ.İTH.LTD.ŞTİ.</a></li>
                                        <br>
                                        <li><b>Faliyet Alanı: </b><a>HİZMET</a></li>
                                        <br>
                                        <li><b>Faaliyet Detayı: </b><a>HİZMET</a></li>
                                        <br>
                                        <li><b>İletişim Bilgileri:</b></li>
                                        <li>Email: <a href="mailto:noonkahve@hotmail.com">noonkahve@hotmail.com</a></li>
                                        <li>Telefon: <a href="tel:+90 532 421 65 86">+90 532 421 65 86</a></li>
                                    </ul>
                                </div><!-- /.accordion-item-body -->
                            </div>
                        </div>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
                <!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.FAQ -->
    </div><!-- /.wrapper -->

    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>


