
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-menu-color="brand" data-topbar-color="light">

<head>
    <meta charset="utf-8" />
    <title>PENTAŞ Yönetim Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/web/assets/images/favicon/favicon.png" rel="icon">

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="~/dashbord/assets/libs/morris.js/morris.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="~/dashbord/assets/css/style.min.css" rel="stylesheet" type="text/css">
    <link href="~/dashbord/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <script src="~/dashbord/assets/js/config.js"></script>
</head>

<body>

    <!-- Begin page -->
    <div class="layout-wrapper">

        <!-- ========== Left Sidebar ========== -->
        <div class="main-menu">
            <!-- Brand Logo -->
            
            <!--- Menu -->
            <div data-simplebar>
                <ul class="app-menu">

                    <li class="menu-title">Menu</li>

                    <li class="menu-item">
                        <a href="/Account/Index" class="menu-link waves-effect waves-light">
                            <span class="menu-icon"><i class="bx bx-home-smile"></i></span>
                            <span class="menu-text"> Ana Menü </span>
                        </a>
                    </li>

                    <li class="menu-title">Hizmetler</li>

                    <li class="menu-item">
                        <a href="/Account/Tesisler" class="menu-link waves-effect waves-light">
                            <span class="menu-icon"><i class="bx bx-buildings"></i></span>
                            <span class="menu-text"> Tesisler </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                            <span class="menu-icon"><i class="bx bxs-parking"></i></span>
                            <span class="menu-text"> Otoparklar </span>                            
                        </a>                        
                    </li>

                    <li class="menu-item">
                        <a href="#" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                            <span class="menu-icon"><i class="bx bx-cake"></i></span>
                            <span class="menu-text"> Nikah / Kokteyl </span>                            
                        </a>                        
                    </li>

                    <li class="menu-title">Pegmer</li>

                    <li class="menu-item">
                        <a href="#" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                            <span class="menu-icon"><i class="bx bx-user"></i></span>
                            <span class="menu-text"> Pegmer Girişimciler </span>                            
                        </a>
                        
                    </li>
                                        
                    <li class="menu-title">Ana Sayfa</li>

                    <li class="menu-item">
                        <a href="#" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                            <span class="menu-icon"><i class="bx bxs-edit-alt"></i></span>
                            <span class="menu-text"> Ana Sayfayı Düzenle </span>                            
                        </a>                        
                    </li>

                    <li class="menu-title">İletişim</li>

                    <li class="menu-item">
                        <a href="#" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                            <span class="menu-icon"><i class="bx bx-mail-send"></i></span>
                            <span class="menu-text"> Gelen Talepler </span>                            
                        </a>                        
                    </li>
                </ul>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            <!-- ========== Topbar Start ========== -->
            <div class="navbar-custom">
                <div class="topbar">
                    <div class="topbar-menu d-flex align-items-center gap-lg-2 gap-1">

                        <!-- Brand Logo -->
                        <div class="logo-box">
                            <!-- Brand Logo Light -->
                            <a href="index.html" class="logo-light">
                                <img src="~/dashbord/assets/images/logo-light.png" alt="logo" class="logo-lg" height="22">
                                <img src="~/dashbord/assets/images/logo-sm.png" alt="small logo" class="logo-sm" height="22">
                            </a>

                            <!-- Brand Logo Dark -->
                            <a href="index.html" class="logo-dark">
                                <img src="~/dashbord/assets/images/logo-dark.png" alt="dark logo" class="logo-lg" height="22">
                                <img src="~/dashbord/assets/images/logo-sm.png" alt="small logo" class="logo-sm" height="22">
                            </a>
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <button class="button-toggle-menu">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>

                    <ul class="topbar-menu d-flex align-items-center gap-4">
                        <li class="nav-link" id="theme-mode">
                            <i class="bx bx-moon font-size-24"></i>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/dashbord/assets/images/users/empty_user.png" alt="user-image" class="rounded-circle">
                                <span class="ms-1 d-none d-md-inline-block">
                                    Admin <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ========== Topbar End ========== -->
            @RenderBody()
        </div>
        

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    <!-- App js -->
    <script src="~/dashbord/assets/js/vendor.min.js"></script>
    <script src="~/dashbord/assets/js/app.js"></script>

    <!-- Knob charts js -->
    <script src="~/dashbord/assets/libs/jquery-knob/jquery.knob.min.js"></script>

    <!-- Sparkline Js-->
    <script src="~/dashbord/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    <script src="~/dashbord/assets/libs/morris.js/morris.min.js"></script>

    <script src="~/dashbord/assets/libs/raphael/raphael.min.js"></script>

    <!-- Dashboard init-->
    <script src="~/dashbord/assets/js/pages/dashboard.js"></script>

</body>

</html>
