
@{
    Layout = null;
}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="PENTAŞ">
    <link href="~/web/assets/images/favicon/favicon.png" rel="icon">
    <title>PENTAŞ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,500,600,700%7cRoboto:400,500,700&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="~/web/assets/css/libraries.css">
    <link rel="stylesheet" href="~/web/assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
        <!-- =========================
        Header
    =========================== -->
        <header class="header header-layout1">
            <div class="header-topbar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between">
                                <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                                    <li>
                                        <i class="icon-mail"></i>
                                        <a href="mailto:info@pentas.org">Email: info@pentas.org</a>
                                    </li>
                                    <li>
                                        <i class="icon-location color-primary"></i>
                                        <a href="https://maps.app.goo.gl/b17dhgjg1DxERCf4A" class="color-primary">
                                            Batı Mahallesi
                                            Erol Kaya Caddesi No:12/1
                                            Pendik-İstanbul
                                        </a>
                                    </li>
                                </ul><!-- /.contact__list -->
                                <div class="d-flex align-items-center">

                                    <ul class="social-icons list-unstyled mb-0 mr-20">
                                        <li><a href="https://www.facebook.com/pentasas/?fref=ts"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.instagram.com/pentasorg/"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCRq4KlLeal4KSvkePjRz4lw/videos"><i class="fab fa-youtube"></i></a></li>
                                    </ul><!-- /.social-icons -->
                                </div>
                            </div>
                        </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-top -->
            <nav class="navbar navbar-expand-lg sticky-navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/Default/Index">
                        <img src="~/web/assets/images/logo/logo.png" class="logo" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button">
                        <span class="menu-lines"><span></span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNavigation">
                        <ul class="navbar-nav">
                            <li class="nav__item has-dropdown">
                                <a href="/Default/Kurumsal" class="nav__item-link active">Kurumsal</a>                                
                                <!-- /.dropdown-menu -->
                            </li><!-- /.nav-item -->
                            <li class="nav__item has-dropdown">
                                <!-- Tesislerimiz -->
                                <a href="/Default/Tesisler" class="nav__item-link">Tesislerimiz</a>
                                <button class="dropdown-toggle" data-toggle="dropdown"></button>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/Tesisler/Guzelyali_Sosyal_Tesisleri" class="nav__item-link">Güzelyalı Sosyal Tesislerimiz</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="#" class="nav__item-link">PenCR Hayaltepe</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/PENCR_Bahce_Kafe" class="nav__item-link">PenCR Bahçe Kafe</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/PENCR_Burun" class="nav__item-link">PenCR Burun</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/PENCR_Carsi" class="nav__item-link">PenCR Çarşı</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/PENCR_Sahil" class="nav__item-link">PenCR Sahil</a>
                                    </li> <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/PENCR_Koru" class="nav__item-link">PenCR Koru</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/PENCR_Kurtkoy" class="nav__item-link">PenCR Kurtköy</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/Durak_Büfe" class="nav__item-link">Durak Büfe</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/Cay_Ocaklari" class="nav__item-link">Çay Ocakları</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/Yenisehir_Piknik_Alani" class="nav__item-link">Yenişehir Piknik Alanı</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Tesisler/Kurnakoy_Piknik_Alani" class="nav__item-link">Kurnaköy Piknik Alanı</a>
                                    </li><!-- /.nav-item -->
                                </ul><!-- /.dropdown-menu -->
                            </li><!-- /.nav-item -->
                            <li class="nav__item has-dropdown">
                                <!-- Otoparklar -->
                                <a href="/Default/Otoparklar" class="nav__item-link">Otoparklar</a>
                                <button class="dropdown-toggle" data-toggle="dropdown"></button>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Havaalani_Otoparki" class="nav__item-link">
                                            Havaalanı Otoparkı
                                        </a>
                                    </li>
                                    <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Merkez_Sahil_Otoparki" class="nav__item-link">
                                            Merkez Sahil Otoparkı
                                        </a>
                                    </li>
                                    <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Mehmet_Akif_Kapali_Otoparki" class="nav__item-link">
                                            Mehmet Akif Kapalı Otoparkı
                                        </a>
                                    </li>
                                    <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Eski_Imamhatip_Otoparki" class="nav__item-link">
                                            Eski İmamHatip Otoparkı
                                        </a>
                                    </li>
                                    <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Pazar_Yeri_Otoparki" class="nav__item-link">Pazaryeri Otoparkı</a>
                                    </li>
                                    <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Metro_Otoparki" class="nav__item-link">Metro Otoparkı</a>
                                    </li>
                                    <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Marmara_Hastanesi_Otoparki" class="nav__item-link">Marmara Hastanesi Otoparkı</a>
                                    </li>
                                    <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Mostar_Otoparki" class="nav__item-link">Mostar Otoparkı</a>
                                    </li>
                                    <!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="/Otoparklar/Carsi_Otoparki" class="nav__item-link">Çarşı Otoparkı</a>
                                    </li>
                                    <!-- /.nav-item -->
                                </ul><!-- /.dropdown-menu -->
                            </li><!-- /.nav-item -->
                            <li class="nav__item has-dropdown">
                                <!-- Organizasyon -->
                                <a href="/Default/Organizasyon" class="nav__item-link">Organizasyon</a>
                                <!--
                                <button class="dropdown-toggle" data-toggle="dropdown"></button>                                
                                <ul class="dropdown-menu">
                                    <li class="nav__item"><a href="projects-grid.html" class="nav__item-link">Nikah/Kokteyl</a></li>
                                    <!-- /.nav-item
                                    <li class="nav__item">
                                        <a href="projects-standard.html" class="nav__item-link">Etkinlik/Fuar</a>
                                    </li><!-- /.nav-item
                                </ul><!-- /.dropdown-menu 
                                -->
                            </li><!-- /.nav-item -->
                            <li class="nav__item has-dropdown">
                                <a href="/Default/Pegmer" class="nav__item-link">Pegmer</a>
                                <button class="dropdown-toggle" data-toggle="dropdown"></button>
                                <ul class="dropdown-menu">                                    
                                    <li class="nav__item">
                                        <a href="/Pegmer/Pegmer_Girisimciler" class="nav__item-link">Pegmer Girişimciler</a>
                                    </li><!-- /.nav-item -->
                                </ul><!-- /.dropdown-menu -->
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="/Default/Insan_Kaynaklari" class="nav__item-link">İnsan Kaynakları</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="/Default/Iletisim" class="nav__item-link">İletişim</a>
                            </li><!-- /.nav-item -->
                        </ul><!-- /.navbar-nav -->
                        <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
                    </div><!-- /.navbar-collapse -->
                    <div class="contact__number d-none d-xl-flex align-items-center">
                        <i class="icon-phone"></i>
                        <a href="tel:+90(216) 491 11 08">+90(216) 491 11 08</a>
                    </div>
                </div><!-- /.container -->
            </nav><!-- /.navabr -->
        </header><!-- /.Header -->
        

        @RenderBody()

    <!-- ========================
      Footer
    ========================== -->
        <footer class="footer">
            <div class="footer-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 footer-widget footer-widget-contact">
                            <div class="footer-logo">
                                <a href="/Default/Index">
                                    <img src="~/web/assets/images/footer/footer-logo(205x58px).png" alt="Awesome Footer Logo">
                                </a>
                            </div>
                            <div class="repairplus-info">
                                <p class="top"><br>Pentaş A.Ş. 1993 tarihinde, Pendik Belediyesi iştiraki olarak, gıda, spor, otopark, kültürel faaliyetler gibi birçok alanda hizmet sunmak üzere kurulmuş ticari amaçlı bir anonim şirkettir.</p>
                            </div>
                        </div>                        
                        <div class="col-sm-6 col-md-4 footer-widget footer-widget-nav">
                            <h6 class="footer-widget-title">Menü</h6>
                            <div class="footer-widget-content">
                                <nav>
                                    <ul class="list-unstyled">
                                        <li><a href="Default/Kurumsal">Kurumsal</a></li>
                                        <li><a href="leadership-team.html">Paintball</a></li>
                                        <li><a href="blog.html">Kişgem</a></li>
                                        <li><a href="projects-grid.html">İletişim</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 footer-widget footer-widget-align-right">
                            <h6 class="footer-widget-title">Sosyal Medyada Biz</h6>
                            <div class="footer-widget-content">
                                <ul class="social-icons list-unstyled mb-0">
                                    <li><a href="https://www.facebook.com/pentasas/?fref=ts"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/pentasorg/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCRq4KlLeal4KSvkePjRz4lw/videos"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.Footer -->

    </div><!-- /.wrapper -->

    <script src="~/web/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/web/assets/js/plugins.js"></script>
    <script src="~/web/assets/js/main.js"></script>
</body>

</html>
