
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="PENTAŞ">
    <link href="~/web/assets/images/favicon/favicon.png" rel="icon">

    <link href="~/web/login_assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/web/login_assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/web/login_assets/css/style.css" rel="stylesheet">

    <title>Pentaş Admin</title>
</head>
<body>
    <section class="form-01-main">
        <div class="form-cover">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-sub-main">
                            <div class="_main_head_as">
                                <a>
                                    <img src="~/web/login_assets/images/vector.png">
                                </a>
                            </div>
                            <div class="form-group">
                                <input id="email" name="email" class="form-control _ge_de_ol" type="text" placeholder="Email" required="" aria-required="true">
                            </div>

                            <div class="form-group">
                                <input id="password" type="password" class="form-control" name="password" placeholder="Parola" required="required">
                                
                            </div>                            
                            <div class="form-group">
                                <div class="btn_uy">
                                    <a href="#"><span>Login</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
