
@{
    ViewBag.Title = "GuzelYaliSosyalTesisleri";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
        <!-- =========================
            Header
        =========================== -->
        <!-- /.Header -->
        <!-- =========================
                Google Map
        =========================  -->
        <section class="google-map py-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1508.8695408202439!2d29.280180000000005!3d40.855652!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadc5ffb56c981%3A0x4099c43262cd1eea!2sPendik%20Belediyesi%20G%C3%BCzelyal%C4%B1%20Sosyal%20Tesisleri!5e0!3m2!1str!2sus!4v1721823444925!5m2!1str!2sus" 
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section><!-- /.GoogleMap -->
        <!-- ==========================
            contact layout 1
        =========================== -->
        <section class="contact-layout1 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-panel p-0 box-shadow-none">
                            <div class="contact__panel-info mb-30">                                
                                <div class="contact-info-box">
                                    <h4 class="contact__info-box-title">Adres</h4>
                                    <ul class="contact__info-list list-unstyled">
                                        <li>Güzelyalı Mahallesi, Sahil Blv No:72, 34903 Pendik/İstanbul</li>
                                    </ul><!-- /.contact__info-list -->
                                </div><!-- /.contact-info-box -->
                                <div class="contact-info-box">
                                    <h4 class="contact__info-box-title">İletişim</h4>
                                    <ul class="contact__info-list list-unstyled">
                                        <li>Email: <a href="mailto:info@pentas.org">info@pentas.org</a></li>
                                        <li>Telefon: <a href="tel:+90 (216) 494 43 14">+90 (216) 494 43 14</a></li>
                                    </ul><!-- /.contact__info-list -->
                                </div><!-- /.contact-info-box -->

                            </div><!-- /.contact__panel-info -->
                            <form method="post" action="assets/php/contact.php" id="contactForm" class="contact__panel-form mb-30">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contact__panel-title">Açıklama</h4>
                                        <p class="contact__panel-desc mb-40">
                                            Güzelyalı Sosyal Tesisleri, Güzelyalı mahallesinde faaliyet göstermektedir. Güzelyalı Sosyal Tesisleri piknik alanları, seyir çardakları ve çocuk parkı gibi aktiviteleri içerisinde bulunduran ve konumu itibariyle deniz havası alınabilecek bir tesis özelliği taşımaktadır. Tesis içerisinde vakit geçirebileceğiniz açık ve kapalı bölümler bulunmaktadır. Restaurant bölümünde zengin içerikli menümüzden ve güler yüzlü personelimizden servis hizmeti alabilir; yaz aylarında faaliyet gösteren kafeterya bölümünde ise çayınızı yudumlayabilirsiniz.
                                            Tesisimiz ferah alanları itibariyle her türlü toplantı, düğün, nişan organizasyonlarınız için ev sahipliği yapmaya hazırdır
                                        </p>
                                        
                                        <!--====================
                                        GALARY
                                        =====================-->
                                        <section id="gallery" class="gallery">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/guzelyali1.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/guzelyali1.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/1.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/1.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/2.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/2.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/3.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/3.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/4.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/4.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/5.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/5.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/6.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/6.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/8.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/8.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/9.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/9.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/11.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/11.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/12.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/12.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/13.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/13.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/14.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/14.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/15.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/15.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/16.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/16.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/17.jpg">
                                                                <img src="~/web/assets/images/tesisler/güzelyalı_sosyal_tesisleri/17.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                </div><!-- /.row -->
                                            </div><!-- /.container-fluid -->
                                        </section>
                                    </div>
                                    
                                </div><!-- /.row -->
                            </form>
                        </div><!-- /.contact__panel -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact layout 1 -->
        <!-- ========================
          Footer
        ========================== -->
        <!-- /.Footer -->
        

    </div><!-- /.wrapper -->

    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>