
@{
    ViewBag.Title = "Insan_Kaynaklari";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8"><br><br>               
                <h3>İnsan Kaynaklari</h3>                
                <p>İnsan Kaynakları olarak temel amacımız; Sosyal Tesis İşletmeciliği ve Organizasyon alanında ortak değerler yaratacak, topluma fayda sağlayacak, 
                güven ve verimlilik esasına dayanan katılımlı insan kaynakları sistemleri kurmak ve kurulan sistemleri öğrenen bir organizasyon olma hedefi ile 
                sürekli geliştirerek sürdürülebilir hale getirmektir. Başvurular web sitemizde bulunan başvuru formunu doldurmak ya da şahsen Genel Müdürlük Binamıza 
                gelip görevlilerimiz tarafından kendilerine verilecek başvuru formunu doldurmak suretiyle yapılmalıdır. Şahsen yapılan başvurular esnasında adayların 
                beraberlerinde bir adet fotoğraf ve nüfus cüzdanlarını getirmeleri gerekmektedir. Pentaş A.Ş, herhangi bir birimde çalışan istihdam edilmesi gerektiği
                takdirde, iş ilanları sadece Pentaş A.Ş.’nin kurumsal web sitesi üzerinden yayınlanmaktadır. Pentaş A.Ş. olarak web sitemiz dışında yayınlanmış ve 
                yayınlanacak iş ilanları hakkında hiçbir surette sorumluluk kabul etmeyeceğimizi bildiririz.</p>
                <p>Genel İş Başvuru Formu için lütfen <a href="#">tıklayınız.</a></p>
            </div>
            <div class="col-md-4">
                <br><br>
                <img src="~/web/assets/images/about/Ik.png">
            </div>
        </div>
    </div>
</body>
</html>