
@{
    ViewBag.Title = "Otoparklar";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<html lang="en">
<body>
    <link rel="stylesheet" href="~/web/assets/css/style.css">
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
        <!-- ===========================
          portfolio standard
        ============================= -->
        <section class="portfolio-layout2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading-layout2 mb-40">
                            <h3 class="heading__title">Otoparklar</h3>
                        </div><!-- /.heading -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
                <div class="row">
                    <!-- portfolio item #1 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/havaalani_otopark.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Havaalani_Otoparki">Havaalanı Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                    <!-- portfolio item #1 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/merkez_sahil_otoparki.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Merkez_Sahil_Otoparki">Merkez Sahil Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/mehmet_akif_kapali_otoparki.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Mehmet_Akif_Kapali_Otoparki">Mehmet Akif Kapalı Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/eski_imamhatip_otoparki.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Eski_Imamhatip_Otoparki">Eski İmamhatip Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/pazar_yeri_otoparki.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Pazar_Yeri_Otoparki">Pazar Yeri Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/metro_otoparki.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Metro_Otoparki">Metro Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/marmara_hastanesi_otoparki.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Marmara_Hastanesi_Otoparki">Marmara Hastanesi Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/mostar_otoparki.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Mostar_Otoparki">Mostar Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="~/web/assets/images/otoparklar/carsi_otoparki.jpg" alt="portfolio img">
                            </div><!-- /.portfolio-img -->
                            <div class="portfolio__body">
                                <h4 class="portfolio__title"><a href="/Otoparklar/Carsi_Otoparki">Çarşı Otoparkı</a></h4>
                            </div><!-- /.portfolio__body -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        <!-- /.portfolio standard -->
    </div><!-- /.wrapper -->
    <script src="~/web/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/web/assets/js/plugins.js"></script>
    <script src="~/web/assets/js/main.js"></script>
</body>
</html>