
@{
    ViewBag.Title = "Pegmer";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            margin: 0 20px; /* Soldan ve sağdan 20px boşluk bırakır */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><img src="~/web/assets/images/icons/pegmer.png"></p>
                <h3>PEGMER</h3>
                <p><strong>(Pendik Kadın Girişimci Merkezi) 2020 yılında yenilenen adıyla faaliyetlerine devam etmektedir.</strong> </p>
                <p>2008 yılında KİŞGEM (Kadın Girişimci İş Geliştirme Merkezi) adıyla faaliyetlerine başlamıştır. Kadın girişimcilere işletmelerinin kuruluş ve gelişim aşamasında destek vererek Pendik ve bölgesinde ekonomik fırsatlar yaratmak isteyen, kadın girişimciler için oluşturulmuş bir iş geliştirme modelidir. Avrupa Birliği ve KOSGEB’in katkılarıyla Türkiye de sadece dört bölgede faaliyet gösteren merkezlerden biri olan Pendik KİŞGEM, 2020 yılında ise PEGMER(Pendik Kadın Girişimci Merkezi) olarak aynı vizyon ve misyon doğrultusunda kendisini yenilemiştir.</p>
                <p>PEGMER binası Büyükşehir Belediyesinin mülkü olup İş Geliştirme Merkezi olarak kullanılmak üzere Pendik Belediyesi aracılığı ile işletici firma olan Pentaş A.Ş’ye tahsis edilmiştir. PEGMER yararlanıcısı Pendik Belediyesi ve işletici kuruluşu Pentaş A.Ş. olan bir sosyal fayda projesidir. Paydaşları arasında ise PESİAD (Pendik Sanayici ve İş Adamları Derneği) ve bölgedeki üniversiteler bulunmaktadır.</p>
                <p>PEGMER’e iş fikri olup kendi işini kurmak isteyen Kadın Girişimciler, işletmesini yeni kurmuş olan Kadın Girişimciler başvurabilirler.</p>
            </div>
            <div class="col-md-12">
                <p style="font-weight:bold;">PEGMER’de Kadın Girişimcilere sağlanan destekler;</p>
                <ul>
                    <li><strong>1.</strong> Kadın Girişimcilerimiz, gerektiğinde mali, hukuki, idari ve diğer işletme odaklı sorunları için Yönetimimizden danışmanlık hizmeti alabilirler.</li>
                    <li><strong>2.</strong> İş Geliştirme Merkezimiz, her biri 20 m2 ila 105 m2 arasında değişen, toplam 29 işlikten oluşmaktadır. İşlikler, düşük maliyetli kira bedeli karşılığında tahsis edilmektedir.</li>
                    <li><strong>3.</strong> İş Geliştirme Merkezimiz, 7 gün 24 saat güvenlik hizmeti ile girişimcilere esnek çalışma saatleri imkânı sağlamaktadır.</li>
                    <li><strong>4.</strong> Gerek yurt içi, gerekse yurt dışından gelen birçok misafir, çeşitli nedenlerle PEGMER’i ziyaret etmekte, sistem ve girişimciler hakkında doğrudan bilgi almaktadır. Öte yandan büyük ölçekli firmalar, bu tür sosyal projelerde yer alan girişimlerle çalışmayı toplumsal sorumluluğun bir parçası olarak görmektedir. PEGMER’de girişimci olarak yer almak, hayatın normal ritminde oluşması çok güç olan bazı iş bağlantılarına daha kolay ulaşmayı mümkün kılmaktadır. Diğer bir deyişle PEGMER etiketi, girişimcilerin ticari ve ticari olmayan pek çok iş ağına kolayca dahil olmalarını sağlar.</li>
                    <li><strong>5.</strong> Girişimcilerimiz, merkezimizdeki iki adet internet bağlantılı bilgisayar, faks, fotokopi, projeksiyon cihazı ve perdesi ile, içinde girişimci kütüphanesi bulunan toplantı salonundan ve ürünlerini sergileyebilecekleri teşhir vitrininden bedelsiz olarak yararlanma imkanına sahiptir.</li>
                    <li><strong>6.</strong> Girişimcilerimiz için, ihtiyaç duydukları konularda eğitimler düzenlenmektedir. Böylece girişimcilerin kendilerini geliştirme ve mesleki donanımlarının arttırılması sağlanmaktadır.</li>
                    <li><strong>7.</strong> Yüzyılın anahtar kavramlarından biri olan Kadın Girişimcilik konusunda PEGMER’e gelen tüm temsil fırsatları, girişimcilerimizin yararına sunulmakta; girişimcilerimizin çeşitli mecralarda sunum yapmaları, fuar ve benzeri tanıtım faaliyetinde bulunabilmelerine imkân sağlanmaktadır.</li>
                    <li><strong>8.</strong> Proje ortakları, PEGMER’in ve PEGMER’de bulunan girişimcilerin gönüllü tanıtımını yapmakta, PEGMER’in cazibe merkezi haline gelmesine katkı sunmaktadırlar.</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>


