
@{
    ViewBag.Title = "Durak_Büfe";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

!DOCTYPE html>
<html lang="en">
<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
        <!-- =========================
            Header
        =========================== -->
        <!-- /.Header -->
        <!-- =========================
                Google Map
        =========================  -->
        <section class="google-map py-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d575.8967181343525!2d29.261855164397108!3d40.88765173573!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadb65de94aebf%3A0x8a9df586a253a419!2sDurak%20B%C3%BCfe!5e0!3m2!1str!2sus!4v1722344160608!5m2!1str!2sus" 
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section><!-- /.GoogleMap -->
        <!-- ==========================
            contact layout 1
        =========================== -->
        <section class="contact-layout1 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-panel p-0 box-shadow-none">
                            <div class="contact__panel-info mb-30">
                                <div class="contact-info-box">
                                    <h4 class="contact__info-box-title">Adres</h4>
                                    <ul class="contact__info-list list-unstyled">
                                        <li>Fevzi Çakmak Mah. Muhsin Yazıcı Cad. Kayısı Sok. Pendik-İstanbul</li>
                                    </ul><!-- /.contact__info-list -->
                                </div><!-- /.contact-info-box -->
                                <div class="contact-info-box">
                                    <h4 class="contact__info-box-title">İletişim</h4>
                                    <ul class="contact__info-list list-unstyled">
                                        <li>Email: <a href="mailto:info@pentas.org">info@pentas.org</a></li>                                        
                                    </ul><!-- /.contact__info-list -->
                                </div><!-- /.contact-info-box -->

                            </div><!-- /.contact__panel-info -->
                            <form method="post" action="~/web/assets/php/contact.php" id="contactForm" class="contact__panel-form mb-30">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contact__panel-title">Açıklama</h4>
                                        <p class="contact__panel-desc mb-40">
                                            2011 yılının 3. Ayı itibariyle Pentaş A.Ş. tarafından işletilmeye başlanmış olan tesisimiz Marmara ÜniversitesiHastanesi karşısında hizmet vermektedir. Tesisimizde akbil hizmeti, sıcak ve soğuk içecek hizmeti, fast-food ve gıda hizmeti verilmekte olup geniş ürün yelpazemiz ile müşterilerimizin ihtiyaçlarının karşılanabilmesi amaçlanmıştır. Değerli müşterilerimizin arzu ettikleri takdirde dinlenebilecekleri açık ve kapalı olmak üzere 2 adet oturma bölümümüz de mevcuttur.
                                        </p>

                                        <!--====================
                                        GALARY
                                        =====================-->
                                        <section id="gallery" class="gallery">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/durak_büfe/1.jpg">
                                                                <img src="~/web/assets/images/tesisler/durak_büfe/1.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/durak_büfe/2.jpg">
                                                                <img src="~/web/assets/images/tesisler/durak_büfe/2.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/durak_büfe/3.jpg">
                                                                <img src="~/web/assets/images/tesisler/durak_büfe/3.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/durak_büfe/4.jpg">
                                                                <img src="~/web/assets/images/tesisler/durak_büfe/4.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/durak_büfe/5.jpg">
                                                                <img src="~/web/assets/images/tesisler/durak_büfe/5.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="gallery-item">
                                                            <a class="popup-gallery-item" href="~/web/assets/images/tesisler/durak_büfe/6.jpg">
                                                                <img src="~/web/assets/images/tesisler/durak_büfe/6.jpg" alt="gallery img">
                                                            </a>
                                                        </div>
                                                    </div><!-- /.col-lg-4 -->

                                                </div><!-- /.row -->
                                            </div><!-- /.container-fluid -->
                                        </section>
                                    </div>

                                </div><!-- /.row -->
                            </form>
                        </div><!-- /.contact__panel -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact layout 1 -->
        <!-- ========================
          Footer
        ========================== -->
        <!-- /.Footer -->


    </div><!-- /.wrapper -->

    <script src="~/web/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/web/assets/js/plugins.js"></script>
    <script src="~/web/assets/js/main.js"></script>
</body>

</html>