
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<html lang="tr">
<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
    <!-- ============================
        Slider
    ============================== -->
        <section class="slider">
            <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
                 data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
                <div class="slide-item align-v-h bg-overlay bg-overlay-2">
                    <div class="bg-img"><img src="/web/assets/images/sliders/1.jpg" alt="slide img"></div>
                    <!-- /.container -->
                </div><!-- /.slide-item -->
                <div class="slide-item align-v-h bg-overlay">
                    <div class="bg-img"><img src="/web/assets/images/sliders/2.jpg" alt="slide img"></div>
                    <!-- /.container -->
                </div><!-- /.slide-item -->
                <div class="slide-item align-v-h bg-overlay">
                    <div class="bg-img"><img src="/web/assets/images/sliders/3.jpg" alt="slide img"></div>
                    <!-- /.container -->
                </div><!-- /.slide-item -->
                <div class="slide-item align-v-h bg-overlay">
                    <div class="bg-img"><img src="/web/assets/images/sliders/4.jpg" alt="slide img"></div>
                    <!-- /.container -->
                </div><!-- /.slide-item -->
                <div class="slide-item align-v-h bg-overlay">
                    <div class="bg-img"><img src="/web/assets/images/sliders/5.jpg" alt="slide img"></div>
                    <!-- /.container -->
                </div><!-- /.slide-item -->
                <div class="slide-item align-v-h bg-overlay">
                    <div class="bg-img"><img src="/web/assets/images/sliders/6.jpg" alt="slide img"></div>
                    <!-- /.container -->
                </div><!-- /.slide-item -->
                <div class="slide-item align-v-h bg-overlay">
                    <div class="bg-img"><img src="/web/assets/images/sliders/7.jpg" alt="slide img"></div>
                    <!-- /.container -->
                </div><!-- /.slide-item -->
            </div><!-- /.carousel -->
        </section><!-- /.slider -->
        <!-- /.slider -->
    
    <!-- ======================
    services Layout 2
    ========================= -->
        <section class="services-layout2 pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slick-carousel carousel-arrows-light"
                             data-slick='{"slidesToShow": 4, "slidesToScroll": 4, "arrows": true, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2, "slidesToScroll": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'>
                            <!-- service item #1 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="~/web/assets/images/hizmetler/team-2.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">Tesislerimiz</h4>
                                    <p class="service__desc">

                                    </p>
                                    <a href="services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>Daha Fazla</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->
                            <!-- service item #2 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="~/web/assets/images/hizmetler/otopark.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">Otoparklar</h4>
                                    <p class="service__desc">

                                    </p>
                                    <a href="services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>Daha Fazla</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->
                            <!-- service item #3 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="~/web/assets/images/hizmetler/team-6.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">Nikah Kokteyli</h4>
                                    <p class="service__desc">

                                    </p>
                                    <a href="services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>Daha Fazla</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->                            
                        </div><!-- /.carousel-->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.services Layout 2 -->
    </div>    
</body>
</html>